# Docker
COMPOSE_PROJECT_NAME=tsyvinda-local
NETWORKS_DRIVER=bridge
RESTART_POLICY=no

# Domain
FRONTEND_HOST=tsyvinda.local
LETSENCRYPT_EMAIL=vladyslav@tsyvinda.com

# App
NODE_ENV=development
API_URL=https://api.tsyvinda.com

# Basic Auth
BASIC_AUTH=true
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=password

# Analytics
GA_ID=

# Security
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x000000000000000000
